@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #ca851d;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}


h1{
  margin:10px;
}

.box {
  background-color: steelblue;
  color:antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height:200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  /* move the cards off the screen unless they have a class of show. */
  transform: translateX(200%);
  transition: transform -.4s ease;
}

/* every other box wil react this way */
.box:nth-of-type(even){
  transform: translateX(-200%);
}
.box.shadow {
  transform: translateX(0);
}

.box h2 {
  font-size: 40px;
}